dist
node_modules

# electron-builder
build
!build/dev-app-update.yml
!build/icons
!build/entitlements.mac.plist

# MacOS
.DS_Store

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions